@model JobFair.ViewModels.UserViewModel
@{
    var companyBUS = new JobFair.Services.BUS.CompanyBUS();
}
<script src="~/Assets/js/page/usercompanyinfo.js"></script>

<br />
<form>
    <div class="card">
        <div class="card-header">
            Thông tin tài khoản
        </div>
        <div class="card-body">

            <input value="@Model.Id" id="id" name="id" hidden />
            <div class="form-group">
                <label for="username">Tài khoản đăng nhập</label>
                <input type="text" class="form-control" id="username" name="username"
                       value="@(Model.Id == 0 ? "" : Model.Username)"
                       placeholder="Tài khoản hoặc MSSV">
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
            </div>

            <div class="form-group">
                <label for="fullname">Họ tên</label>
                <input type="text" class="form-control" onchange="autoBeautyFullname()"
                       value="@(Model.Id == 0 ? "" : Model.Fullname)"
                       id="fullname" name="fullname" placeholder="Họ tên của bạn">
            </div>

            <div class="form-group">
                <label for="idCompany">Tài khoản thuộc công ty</label>
                <select class="form-control" id="idCompany" name="idCompany">
                    @foreach (var company in companyBUS.GetList())
                    {
                        var _checked = string.Empty;
                        if (Model.Id != 0 && Model.IdCompany != null && Model.IdCompany.Value == company.Id)
                        {
                            _checked = "selected";
                        }

                        <option value="@company.Id" @_checked>@company.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       value="@(Model.Id == 0 ? " " : Model.Email)"
                       placeholder="Email của bạn">
            </div>

            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="text" class="form-control" id="phone" name="phone"
                       value="@(Model.Id == 0 ? " " : Model.Phone)"
                       placeholder="Số điện thoại">
            </div>

            <div class="text-right">
                <button class="btn btn-primary" type="button" id="submit" onclick="saveData()"><i class="fa-solid fa-floppy-disk"></i> @(Model.Id == 0 ? "Tạo mới" : "Lưu lại")</button>
            </div>
        </div>
    </div>
</form>